@import url("https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Lobster&family=Smooch+Sans:wght@100&display=swap");

* {
    --gainsboro: #d8dbe2ff;
    --light-steel-blue: #a9bcd0ff;
    --cadet-blue: #58a4b0ff;
    --charcoal: #373f51ff;
    --eerie-black: #1b1b1eff;
}

body {
    display: flex;
    display: table-row;
    color: var(--cadet-blue)
}

header{
    width: 25vw
}

main{
    width: 50vw
}

ul{
    width: 50vw
}
 
img {
    width: 25vw;
}

body {background-color: var(--eerie-black);}

.hide {
    display: none;
}